/**************************************/
/************** FUENTES ***************/
/**************************************/

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**************************************/
/************* GENERALES **************/
/**************************************/

body{
    background-color: #fafaf7;
    color:#555;
    font-family: 'ralewaymedium';   
}
a{
  color:#ccc;  
}
a:hover{
    color:#a2b603;
    text-decoration: none;
}
.textder{
    text-align: right;
}
h2{
   font-family: 'ralewaymedium';
    font-size: 1.250em;
    margin: 20px 0 0 0;
}
h2 span{
    color: #a2b603;
    font-family: 'ralewaybold';
}
.veinte-pad{
    padding: 0 25px;
}

.blanco{
    background-color: #fff;
    overflow: hidden;
}
.cien{
    height: 50px;
}
.grisosc{
    background-color: #999;
    height: 50px;
    border: 1px solid #fff;
}
.gris-claro{
    background-color: #fafaf7;
    margin: 0 1px;
}
.gris{
    background-color: #777;
}
.verde{
    color: #a2b603;
}
.centrado{
    text-align: center;
}
#focus{
    background-color: #fafaf7;
    color: #ddd;    
}
.veinte{
    padding: 0 20px;
}
.veinteizq{
    padding: 0 0 0 20px;
}
.veinteder{
    padding: 0 20px 0 0;
}

/**************************************/
/************** NAV-BAR ***************/
/**************************************/

.navbar-default .navbar-collapse{
    background-color: #fafaf7;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'ralewaymedium';
    color: #7d7c7c;
    
}
.navbar-default .navbar-nav>li>a:hover{
    font-family: 'ralewaymedium';
    color:#a2b603;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;  
}
/********* USER **********/

.user img{
    width: 30px;
    margin: 11px 0 0 0;
    /*border: 2px solid #a2b603;*/
    
}
.user span{
    color:#a2b603; 
}
.user .glyphicon{
    float: left;
    top:18px;
    color:#a2b603;
    right: 5px;
}
/*************************/
.navbar-brand{
        padding-top: 0;
    }
.navbar-right{
    padding-right: 20px;
}

/**************************************/
/************* FILTRADO ***************/
/**************************************/

.twit { 
    cursor:pointer; 
    position:relative; 
    padding-left:8px; 
    color:#000000; 
    transition-duration:.25s; 
}
.twat{ 
    cursor:pointer; 
    position:relative; 
    padding-left:8px; 
    color:#ccc; 
    transition-duration:.25s; 
}
.twit .arrow{
    width:0; 
    height:0;
    border-top:4px solid transparent; 
    border-left:4px solid #000000; 
    border-bottom:4px solid transparent;
    position:absolute; top:4px; left:1px;
    transition-duration:.25s;
}
.twat .arrow{
    width:0; 
    height:0;
    border-top:4px solid transparent; 
    border-left:4px solid #A0410D; 
    border-bottom:4px solid transparent;
    transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg);
    position:absolute; top:4px; left:1px;
    transition-duration:.25s;
}
.input-sm{
    padding: 0 10px;
}
.controls input[type=text]{
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 13px 10px;
}

select.input-sm{
    font-size: 14px;
    height: 28px;
    margin: 0 0 15px 0;
    line-height:16px;
    background-image: url(../images/selectarrow2.png);
    background-repeat: no-repeat;
    background-position: right;
}
input, button, select, textarea{
    font-family: 'ralewaymedium';
}

laber{
    font-family: font-family: 'ralewaymedium';
}
.ui-state-default, .ui-widget-content .ui-state-default{
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background: #a2b603;
    border:0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.08);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.08);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.08);
}
.ui-widget-header{
    background: #b9c42c;
    border:0;
}
.ui-widget-content {
border: 0;
background: #aaa;
color: #222222;
    height: 2px;
    border-radius: 1px;
    margin: 0 0 0 0;
}
.ui-slider span.ui-slider-tic{
    position: absolute;
left: 0;
height: 0;
top: -1.3em;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
 display: none; 
}
.ui-slider .ui-state-hover .ui-slider-tooltip{
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 0;
    width: auto;
    margin: 0;
    background-color: #fff;
}
fieldset { 
    margin: 0 0 15px 0;
    border:0; 
    height: 4em;
}	
label {
    font-weight: normal; 
    float: left; 
    margin-right: .5em;
    font-family: 'ralewayextralight';
    font-size: 1em;
    margin-bottom: 0;
}
select {
    /*margin-right: 1em;*/ 
    float: left;
}
.ui-slider {
    /*clear: both;*/ 
    top: 2.1em;
}
.lineader{
    border-right: 1px solid #ddd;
}
.automatico{
    font-size: 12px;
    float: left;
    margin: 25px 0 0 10%;
}
.o{
    float: left;
    margin: 20px 0 0 0;
}

.radio input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    left: 0px;
}
.radio input[type="checkbox"]:checked{
    /*background-color: #a2b603;*/
    background-image: url(../images/checked.png);
    background-repeat: no-repeat;
    
}
.radio input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    left: 0px;
}
.radio input[type="radio"]:checked{
    background-color: #a2b603;
}


/**************************************/
/************ THUMBNAILS **************/
/**************************************/

.thumbnail>.btn{
    padding: 1px;
}
.thumbnail img{
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 

}
.thumbnail a:hover{
    /*opacity:0.9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;*/
}

.thumbnail{
    padding: 0 2px 30px ;
    border: none;
    background-color: transparent;
}
.thumbnail .caption{
    padding: 0;
    margin: 0;
}
.thumbnail .caption h4{
    font-family: 'ralewaybold';
    text-transform: capitalize;
    font-size: 1em;
    margin: 0 0 0 3px;
    float:left;
}
.thumbnail .caption .marca{
    text-align: left;
}
.thumbnail .caption .marca h4{
    width: 100%;
    position: relative;
    top:-4px; 
}
.thumbnail .caption h4 span{
    font-family: 'ralewaylight';
}
.thumbano{
    font-family: 'open_sanssemibold';
    text-align: left;
    font-size: 0.813em;
    margin: 0 0 0 3px;
    float: left;
    position: relative;
    top: -5px;
    
}
.thumbvista{
    float: right;
    font-size: 0.813em;
    color: #919191;
    margin: 0 3px 0 0;
    position: relative;
    top: -2px;
}
.clear{
    clear: both;
}
.thumbprecio{
    /*height: 20px;*/
    background-color: #a2b603;
    color: #fff;
    padding: 1px 6px 2px;
    display:inline;
    font-family: 'open_sanssemibold';
    position: relative;
    top:-10px;
    right: 2px;
    float: right;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;  
}

/**************************************/
/*************** MODAL ****************/
/**************************************/

.modal-header{
    padding: 25px;
    overflow: hidden;
}
.modal-header h3{
    font-family: 'ralewaybold';
    text-transform: capitalize;
    font-size: 1.875em;
    margin: 0 0 0 3px;
    float:left; 
}
.modal-header h3 span{
    font-family: 'ralewaylight';
}
.modal-header p{
    font-family: 'ralewaylight';
    font-size: 1em;
    margin: 0 0 0 3px;
    color: #aaa;
}
.modal-backdrop.in{
    background-color: #eee;
    opacity: 0.9;
}
.modal-content{
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    border: none;
    border-radius:2px;
    padding: 0;
}
modal-dialog{
    font-family: 'ralewaymedium';
}
.carrusel{
    height: 400px;
    padding: 0;
}
.descripcion{
    height: 400px;
    padding: 10%;
}
.modal-body{
    padding: 0px;
}
.lista-descripcion{
    list-style: none;
    font-family: 'ralewaylight';
    
}
.lista-descripcion span{
    color: #a2b603;
    font-family: 'ralewaymedium';
}
/**************************************/
/************** BANNERS ***************/
/**************************************/

.banner{
    margin-top: 90px;
}

.banner .thumbnail{
    padding: 0;
    margin: 0 0 10px 0;
    border: none;
    
}
.banner .thumbnail img{
    border: 1px solid #d1d1d1;
}
.publicidad{
    text-align: center;
    vertical-align:t;
    background-color: #ccc;
    height: 260px;
}
#publi{
    line-height: 260px;
    font-size: 1.2em;
}
/**************************************/
/************ PAGINACIÓN **************/
/**************************************/

.pagination>li>a{
    color:#98ab04;
    padding: 6px 22px;
    font-family: 'open_sanssemibold';
    border: 1px solid #c8c8c8;
}
.pagination>li>a:hover{
    color:#a2b603;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

/**************************************/
/************** FOOTER ****************/
/**************************************/

#footer-2{
    padding: 35px 0;
    background-color: #fff;
    font-family: 'ralewaymedium';
    font-size: 12px;
    color:#8c8c8c; 
}
#footer-2 a{
    color: #7d7c7c;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
    font-weight: 800;
}
#footer-2 a:hover, a:focus {
    color: #a2b603; 
    text-decoration: none;
}
#footer-2 .list-inline li {
    border-right: 1px solid #ecf0f1;
    padding-right: 10px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#footer-2 .list-inline {
    margin-bottom: 0;
    text-align: right;
}



















/*****************************************/
/*****************************************/
/*****************************************/

/*input[type=text], textarea, select, button{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
    border: 1px solid #ffffff;
    color: #b9c42c;
    font-size: 14px;
    width: inherit;
    overflow: hidden;
}*/
.form-group input[type=text], select, button{
    border: 1px solid #ccc;
}
input[type=text], textarea, select, button{
    border: transparent;
    color: #b9c42c;
}
/*

input[type=text], textarea, select, button{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
    border: transparent;
    color: #b9c42c;
    font-size: 14px;
    width: inherit;
    overflow: hidden;
}*/
 
input[type=text]:focus, textarea:focus, select:focus, button:focus{
  /*box-shadow: 0 0 5px rgba(162, 182, 3, 1);*/
  /*border: 1px solid rgba(162, 182, 3, 1);*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 1px solid rgba(170, 170, 170, 1);
}
.controls select:focus{
    /*box-shadow: 0 0 5px rgba(162, 182, 3, 1);
    border: 1px solid rgba(162, 182, 3, 1);*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 1px solid rgba(170, 170, 170, 1);
}
.ui-slider-horizontal .ui-slider-handle{
    top:-.38em;
}

/*********carrusel***********/
#wrapper {
    width: 90%;
    margin: 0;
    text-align: left;
    font-family: Georgia, serif;
    color: #222;
    background-color: gray;
}
.carousel-control{
   opacity: .5;
   transition:opacity .4s linear;    
}
.carousel-control:hover{
    opacity: 1;

}
.carousel-inner .btn{
    padding: 0;
}
a.carousel-control.left img{
    top:40px;
}

.carousel-control .thumbprecio{
    right: 0;
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-control.right, .carousel-control.left{
    background-image: none;
}

/********CARRUSEL MODAL*************/

.carousel1 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

/* The controlsy */
.carousel-control1 {
	/*left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;*/
    position: absolute;
    font-size: 40px;
    top: 30px;
    
    
}
.carousel-control1.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #a2b603;
}
.equipa .thumbnail{
    text-align: center;
    color:#aaa;
    font-family: 'ralewaylight';
    font-size: 14px;
    
}
.equipa .thumbnail span{
    text-align: center;
    font-size: 36px;
    color:#aaa;
    padding: 40px 0 0 0;
    
}
.user-detalle img{
    width: 80px;
}
ul.user-detalle li{
    list-style: none;
    color:#656565;
    font-family: 'ralewaylight'; 
}
ul.user-detalle{
    width: 60em;
}
ul.user-detalle li{
    float: left;
    width: 20em;
}
.wrapp{
    margin-bottom: 1em;
}
br{
    clear: left;
}
.modal-footer .btn-default{
    border-left: 1px solid #ccc;
    border-radius: 2px;
    font-family: 'ralewaymedium';
    font-size: 1em;
    padding: 5px 10px;
    margin: 10px;
}
ul{
			list-style:none outside none;
		    padding-left:0;
		}
		.content-slider li{
		    background-color:#ed3020;
		    text-align:center;
		    color:#FFF;
		}
		.content-slider h3 {
		    margin:0;
		    padding:70px 0;
		}
		.demo{
			width:800px;
		}
/*
list-style: none outside none;
		    padding-left: 0;
		}
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			width: 800px;
		}
*/
.label-bold{
    font-family: 'open_sanssemibold';
    
}
.veinte-izq{
    padding-left: 20px;
}
.treinta{
    padding: 0 30px 10px;
}
.inactivo{
    opacity: .2;
}
.slide-rangos{
    padding: 0 0 20px 0;
}
#sin-margen{
    margin-top: 0;
}
.filtrado h2{
    padding-left: 15px;
    margin: 0;
    
}









.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
 * Navbar
 */
.navbar-top {
	margin-bottom: 0px;
	background-color: #428bca;
	border-color: #3174b0;
}
.navbar-top .navbar-brand {
	color: #ffffff;
}
.navbar-top .navbar-brand:hover, .navbar-top .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-top .navbar-text {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .active > a, .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .open > a, .navbar-top .navbar-nav > .open > a:hover, .navbar-top .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-toggle {
	border-color: #3174b0;
}
.navbar-top .navbar-toggle:hover, .navbar-top .navbar-toggle:focus {
	background-color: #3174b0;
}
.navbar-top .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-top .navbar-collapse,
.navbar-top .navbar-form {
	border-color: #ffffff;
}
.navbar-top .navbar-link {
	color: #ffffff;
}
.navbar-top .navbar-link:hover {
	color: #ecf0f1;
}
.profile-image img{
    width: 30px;
    height: 30px;
}

@media (max-width: 767px) {
	.navbar-top .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
		background-color: #3174b0;
	}
}











/*****************************************/
/************ MEDIA QUERYS ***************/
/*****************************************/

/*****************************************/
/************* HASTA 1200 ****************/
/*****************************************/

@media (max-width: 1200px) {
    
 .thumbnail .caption{
    font-size: 0.875em;
   
}
 .thumbprecio{
    font-size: 0.875em;
    padding: 1px 6px;
    }
    .publicidad{
        height: 210px;
}
    #publi{
        line-height: 210px;
   
    
}


/*****************************************/
/************ DESKTOP  992 ***************/
/*****************************************/
@media (max-width: 992px) {
     .buscarNav .form-control{
    width: 200px;        
     }
    .navbar-brand{
        padding-left:20px; 
    }
    .publicidad{
        height: 320px;
    }
    #publi{
        line-height: 320px;
    }
}
/*****************************************/
/************* TABLETS 768 ***************/
/*****************************************/

@media (max-width: 768px) {
    .footer{
        text-align: center;
    }
    #footer-2 .list-inline{
        text-align: center;
    }
    .thumbnail{
        max-width: 500px;
    }
    .pagination>li>a{
    padding: 12px 25px;
}
    .thumbnail .caption h4{
        font-size: 1.6em;
    }
    .thumbprecio{
    font-size: 1.2em;
    padding: 1px 6px;
    }
    .thumbprecio{
        padding:2px 10px;
        
    }
    .thumbano{
        font-size: 1.2em;
    }
    .thumbvista{
        font-size: 1.2em;
    }
    label{
        font-size: 1.2em;
    }
    select.input-sm{
        height: 40px;
        font-size: 1.2em;
        font-family: 'ralewaylight';
        
    }
    .input-sm{
        padding: 5px 0 5px 7px;
    }
    .controls input[type=text]{
    padding: 20px 10px;
    font-size: 1.2em;
    font-family: 'ralewayextralight';
    }
    .lineader{
        border-right: transparent;
    }
    .buscarNav .form-control{
    width: 87%;
     }
    .t1{
    text-align: center;
    }
    .t1 .thumbnail{
        display:inline-block;
    }
    h2{
        margin-left: 20px;
    }
    .navbar-default .navbar-collapse{
        padding: 20px;
    }
    .navbar-brand img{
        display: block;
        margin: auto;
        vertical-align: middle;
    }
    
    .navbar-form{
        border-top: none;
        margin-top: 0;
        padding: 0 3px 20px;
    }
    .publicidad{
        height: 150px;
        margin-bottom: 30px;
    }
    #publi{
        line-height: 150px;
        
    }
    
}
    

/*****************************************/
/************* PHONES 470 ****************/
/*****************************************/

@media (max-width: 470px) {
    .publicidad{
        display: none;
    }
   
    .pagination>li>a{
    padding: 12px 16px;
}
    .bnr-horizontal{
    background-color: red;
        width: 100%;
        height: 30px;
        display: inline;
}
    .navbar-fixed-top, .navbar-fixed-bottom{
        position: relative;
    }
   .automatico{
       font-size: 10px;
   }
    .cien{
        height: 0;
    }
    .navbar{
        margin-bottom: 0;
    }
    .publicidad{
        width: 320px;
        height: 150px;
        margin-bottom: 30px;
    }
    #publi{
        line-height: 150px;
        
    }
    
    
    
}
    

    

