/**************************************/
/************** FUENTES ***************/
/**************************************/

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}
.centra-img{
    height: 375px;
    min-height: 375px;
    background-position: center;
    background-size: cover;
}
/**************************************/
/************* GENERALES **************/
/**************************************/

body{
    background-color: #fafaf7;
    color:#565a5c;
    font-family: 'ralewaymedium';
    max-width: 1440px;
}

.cien{
    height: 100px;
}
a{
  color:#ccc;  
}
a:hover{
    color:#565a5c;
    text-decoration: none;
}
.textder{
    text-align: right;
}
h2{
   font-family: 'ralewaymedium';
    font-size: 1.5em;
    margin: 0 0 0 0;
    letter-spacing: 0.04em;
}
h2.titulo-index{
   font-size: 1.4em;
   font-family: 'ralewaylight';
}
h2 span{
    color: #a2b603;
    font-family: 'ralewaybold';
}
.veinte-pad{
    padding: 0 25px;
}
.cuarenta-pad{
    padding: 0 40px;
}
.similares{
    padding: 10px 60px 70px;
}

.blanco{
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-top: -3px;
}
.cien{
    height: 50px;
}
.gris-claro{
    background-color: #fafaf7;
    margin: 0 1px;
    border-bottom: 1px solid #ccc;
}
.gris{
    /*background-color: #777;
    border: 1px solid #ccc;*/
    padding: 60px 60px 0;
}
.gris1{
    height: 160px;
}
.verde{
    /*color: #a2b603;*/
    color:#92A500;
}
.centrado{
    text-align: center;
}
#focus{
    background-color: #fafaf7;
    color: #ddd;    
}
.veinte{
    padding: 0 20px;
}
.bg-blanco{
    background-color: #fff;
}
.blanco .btn{
    width: 100%;
    color: #fff;
    background-color:#b9c609;
    border: none;
    margin-top: 50px;
    padding: 9px 0 8px;
    border-bottom: 2px solid #94A605;
}
.blanco .btn:hover{
    background-color: #a2b603;
    
}
.btn-default{
    border-radius: 2px;
    
}
.ingresar select.input-sm{
    margin: 0;
    color: #888;
    font-weight: normal;
}
.input-group{
    margin: 0;
}
.der{
    float: right;
}
.pad{
    padding:0 20px;
}
.pad2{
    padding:0 0 0 40px;
}
.pad3{
    padding:40px 0 1px;
}
.mar{
    margin: 60px 0;
}
.ingresar p{
    margin: -30px 0 0 0 ;
    padding: 0;
}
.brd{
    border: 1px solid #ccc;
}
.fa-facebook-f:before, .fa-facebook:before{
        content: url(../images/fb-logo.png);
}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2);margin: 20px 0;}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

/**************************************/
/************** ÍCONOS ***************/
/**************************************/
.ojo {
  width: 22px;
  height: 22px;
  float: left;
  position: relative;
  top: -2px;
  right: 2px;
  opacity: .5;
  background: url(../images/ico-ojo.png);
  background-repeat: no-repeat;
}
.anti-robo{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)0 0;
    opacity: .7;
}
.aire{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-34px 0;
    opacity: .7;
}
.abs{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-68px 0;
    opacity: .7;
}
.musica{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-102px 0;
    opacity: .7;
}
.llantas{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-136px 0;
    opacity: .7;
}
.usb{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)0 -34px;
    opacity: .7;
}
.ninos{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-34px -34px;
    opacity: .7;
}
.aux{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-68px -34px;
    opacity: .7;
}
.todoterreno{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-102px -34px;
    opacity: .7;
}
.catalitico{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-136px -34px;
    opacity: .7;
}
.censores{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)0 -68px;
    opacity: .7;
}
.cierre{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-34px -68px;
    opacity: .7;
}
.alzavidrios-e{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-68px -68px;
    opacity: .7;
}
.retrovisores-e{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-102px -68px;
    opacity: .7;
}
.airbag{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-136px -68px;
    opacity: .7;
}
.camara{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)0 -102px;
    opacity: .7;
}
.crucero{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-34px -102px;
    opacity: .7;
}
.clima{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-68px -102px;
    opacity: .7;
}
.bluetooth{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-102px -102px;
    opacity: .7;
}
.neblineros{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)0 -136px;
    opacity: .7;
}
.control{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-34px -136px;
    opacity: .7;
}
.airbag-lat{
    width: 34px;
    height: 34px;
    background: url(../images/iconos-SC.png)-68px -136px;
    opacity: .7;
}
.flecha-atras{
    width: 19px;
    height: 32px;
    background: url(../images/flechas1.png)0 0;
    position: absolute;
    top: 42%;
    left: 10px;
}
.flecha-adelante{
    width: 19px;
    height: 32px;
    background: url(../images/flechas1.png)-19px 0;
    position: absolute;
    top: 42%;
    right: 10px;
}
/**************************************/
/********** GOOGLE MAPS ***************/
/**************************************/
/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-top: 30px;
    height: 230px;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
}

/**************************************/
/************** NAV-BAR ***************/
/**************************************/


.navbar-default .navbar-collapse{
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'ralewaymedium';
    color: #7d7c7c;  
}
.navbar-default .navbar-nav>li>a:hover{
    font-family: 'ralewaymedium';
    color:#555;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;  
}
.navbar-brand{
    padding-top: 0;
    margin-right: 24px;
    padding-left: 20px;
    }
.navbar-right{
    padding-right: 20px;
}

.special-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-top {
	margin-bottom: 0px;
	background-color: #428bca;
	border-color: #3174b0;
}
.navbar-top .navbar-brand {
	color: #ffffff;
}
.navbar-top .navbar-brand:hover, .navbar-top .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-top .navbar-text {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .active > a, .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .open > a, .navbar-top .navbar-nav > .open > a:hover, .navbar-top .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-toggle {
	border-color: #3174b0;
}
.navbar-top .navbar-toggle:hover, .navbar-top .navbar-toggle:focus {
	background-color: #3174b0;
}
.navbar-top .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-top .navbar-collapse,
.navbar-top .navbar-form {
	border-color: #ffffff;
}
.navbar-top .navbar-link {
	color: #ffffff;
}
.navbar-top .navbar-link:hover {
	color: #ecf0f1;
}
.profile-image img{
    width: 30px;
    height: 30px;
}
.dropdown-menu{
    margin: 0;
    box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -o-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: transparent;
}
.form-control{
    border-radius: 2px;
}
.container-fluid>.navbar-header{
    background-color: #fff;
    
}
.opciones li{
    color: #fff;
}
.opciones .btn-default{
    background-color: #a2b603;
    border-bottom: 2px solid #8A9B06;
    color: #fff;
    padding:6px 14px 4px;
    margin:8px 0;
}
.opciones .btn-default: hover{
    background-color: #B9C609;
    border-bottom: 2px solid #a2b603;
}

/**************************************/
/************* FILTRADO ***************/
/**************************************/

.twit { 
    cursor:pointer; 
    position:relative; 
    padding-left:0; 
    color:#565a5c; 
    transition-duration:.25s; 
}
.twat{ 
    cursor:pointer; 
    position:relative; 
    padding-left:0; 
    color:#565a5c; 
    transition-duration:.25s; 
}
.twit .arrow{
    width:0; 
    height:0;
    border-top:4px solid transparent; 
    border-left:4px solid #565a5c; 
    border-bottom:4px solid transparent;
    position:absolute; 
    top:6px; 
    left:150px;
    transition-duration:.25s;
    transform:rotate(90deg); 
    -ms-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg);
    
}
.twat .arrow{
    width:0; 
    height:0;
    border-top:4px solid transparent; 
    border-left:4px solid #565a5c; 
    border-bottom:4px solid transparent;
    transform:rotate(-90deg); 
    -ms-transform:rotate(-90deg); 
    -webkit-transform:rotate(-90deg);
    position:absolute; 
    top:6px; 
    left:150px;
    transition-duration:.25s;
}
.input-sm{
    padding: 0 10px;
}
.controls input[type=text]{
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 15px 10px;
    box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -o-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    font-size: 1em;
    color:#565a5c;
}

select.input-sm{
    font-size: 14px;
    height: 32px;
    margin: 0 0 15px 0;
    line-height:16px;
    background-image: url(../images/selectarrow2.png);
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -o-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
}
select.input-sm:hover{
    border: 1px solid rgba(170, 170, 170, 1);
}

input, button, select, textarea{
    font-family: 'ralewaymedium';
}

laber{
    font-family: font-family: 'ralewaymedium';
}
.ui-state-default, .ui-widget-content .ui-state-default{
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background: #B9C609;
    border:0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.08);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.08);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.08);
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover{
    background-color: #a2b603;
}
.ui-state-default:active, .ui-widget-content .ui-state-default:active{
    background-color: #a2b603;
}
.ui-widget-header{
    background: #b9c42c;
    border:0;
}
.ui-widget-content {
 /* border: 0;
    background: #aaa;
    color: #222222;
    height: 2px;
    border-radius: 1px;
    margin: 0 0 0 0; */
    
    border: 0;
    background: #E5E5E5;
    color: #222222;
    height: 3px;
    border-radius: 1px;
    margin: 0 0 0 0;
    
}
.ui-slider span.ui-slider-tic{
    position: absolute;
    left: 0;
    height: 0;
    top: -1.3em;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
    display: none; 
}
.ui-slider .ui-state-hover .ui-slider-tooltip{
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 0;
    width: auto;
    margin: 0;
    background-color: #fff;
    cursor: pointer;
}
fieldset { 
    margin: 0 0 5px 0;
    border:0; 
    height: 4em;
}	
label {
    font-weight: normal; 
    float: left; 
    font-family: 'open_sanssemibold';
    font-size: 1em;
    margin-bottom: 0;
}
select { 
    float: left;
}
.ui-slider { 
    top: 1.8em;
}
.lineader{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.automatico{
    font-size: 12px;
    float: left;
    margin: 8px 0 0 10px;
}
.automatico span{
    margin: 0 8px 0 0;
}
.o{
    float: left;
    margin: 7px 0 0 0;
}
.checkbox input[type="checkbox"]{
    
}
.checkbox input{
    display: none;
}
.checkbox span{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #777;
    display: inline-block;
    vertical-align: middle;
}
[type=checkbox]:checked + span {/* <-- style its checked state */
    background-color: #777;
    background-image: url(../images/bgcheck.png);
    background-repeat: no-repeat;
}
[type=checkbox]:hover span{
    border: 1px solid #ddd;
    cursor: pointer;
}
.radio input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    left: 0px;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:focus,.radio input[type="checkbox"]:focus{
    box-shadow: 0 0 0 rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}
.radio input[type="checkbox"]:hover{
    border: 1px solid #aaa;
}
.radio input[type="checkbox"]:checked{
    /*background-color: #a2b603;*/
    background-image: url(../images/checked.png);
    background-repeat: no-repeat;
    
}
.radio input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    left: 0px;
}
.radio input[type="radio"]:checked{
    background-color: #a2b603;
}

.form-group input[type=text], select, button{
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
    -o-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
}
.lineader select:hover{
    border: none;
}

.form-group input[type=text]:hover, select:hover, button:hover, .controls input[type=text]:hover {
    border:1px solid rgba(170,170,170,1);
}
input[type=text], textarea, select, button{
    border: transparent;
    color: #B6C30A;
}
.controls input[type=text]:focus, .form-group input[type=text]:focus{
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 1px solid rgba(170, 170, 170, 1);
    background-color: #fcfcf8;
}
input[type=text]:focus, textarea:focus, select:focus, button:focus{
  /*box-shadow: 0 0 5px rgba(162, 182, 3, 1);*/
  /*border: 1px solid rgba(162, 182, 3, 1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 1px solid rgba(170, 170, 170, 1);*/
}
.controls select:focus{
    /*box-shadow: 0 0 5px rgba(162, 182, 3, 1);
    border: 1px solid rgba(162, 182, 3, 1);*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 1px solid rgba(170, 170, 170, 1);
}
.ui-slider-horizontal .ui-slider-handle{
    top:-.38em;
}
.label-bold{
    font-family: 'open_sanssemibold';
    
}
.treinta{
    padding: 0 30px 10px;
}
.inactivo{
    opacity: .2;
}
.slide-rangos{
    padding: 30px 0 10px 0;
}
#sin-margen{
    margin-top: 0;
}
.filtrado h2{
    padding-left: 30px;
    margin: 0;
    
}
.filtrado a h2{
    color:#565a5c;
}
.filtra{
    padding: 0;
}
.filtra a{
    color:#848484;
}
.filtra a:hover{
    color:#444;
}

.filter{
    text-align: center;
    background-color: #fff;
    max-width: 155px;
    margin:-1px auto 0;
    padding: 4px 1px;
    border: 1px solid #ddd;
    border-top-color: #fff;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 13px;
    letter-spacing: 0.03em;
}
.form-control{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0); 
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus{
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, .35);  
}

/**************************************/
/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px;

}


/**************************************/
/************ THUMBNAILS **************/
/**************************************/

.thumbnail>.btn{
    padding: 1px;
}
.thumbnail img{
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 

}
.thumbnail a:hover{
    /*opacity:0.9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;*/
}
.thumbnail{
    padding: 0;
    border: none;
    background-color: transparent;
}
.t1 .thumbnail{
    padding: 0 2px 30px;
    border: none;
    background-color: transparent;
}
.thumbnail .caption{
    padding: 0;
    margin: 0;
}
.thumbnail .caption h4{
    font-family: 'ralewaybold';
    text-transform: capitalize;
    font-size: 1.05em;
    margin: 0 0 0 3px;
    float:left;
}
.thumbnail .caption .marca{
    text-align: left;
}
.thumbnail .caption .marca h4{
    width: 100%;
    position: relative;
    top:-4px; 
}
.thumbnail .caption h4 span{
    font-family: 'Open Sans', sans-serif;
}
.thumbnail .caption h4 span:before{
    content: " ";
}
.thumbano{
    font-family: 'open_sanssemibold';
    text-align: left;
    font-size: 0.9em;
    margin: 0 0 0 3px;
    float: left;
    position: relative;
    top: -5px;
    
}
.thumbvista{
    float: right;
    font-size: 0.9em;
    color: #807F7F;
    margin: 0 3px 0 0;
    position: relative;
    top: -2px;
    font-family: 'Open Sans', sans-serif;
    
}
.clear{
    clear: both;
}
.thumbprecio{
    /*height: 20px;*/
    background-color: #a2b603;
    color: #fff;
    padding: 1px 6px 2px;
    display:inline;
    font-family: 'open_sanssemibold';
    position: relative;
    top:-10px;
    right: 0;
    float: right;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    letter-spacing: 0.02em;
}
.marcas{
    text-align: center;
    padding: 0 40px 20px;
}
.marcas img{
    width: 60px;
    display: inline-block;
    margin: 10px 10px 20px 10px;
}
.separador1{
    padding: 40px 0;
}
.middle{
    line-height: 38px;

}
.cuarenta-pad hr{
    margin: 0;
}

/**************************************/
/*************** MODAL ****************/
/**************************************/
button.close{
    width: 30px;
    padding: 0 0 3px 1px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    border: 0;
    -webkit-appearance: none;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #000;
}
.close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .3;
filter: alpha(opacity=20);
} 
.close:hover {
  opacity: .5;  
}

.modal-header{
    padding: 25px;
    overflow: hidden;
}
.modal-header h3{
    font-family: 'ralewaymedium';
    text-transform: capitalize;
    font-size: 1.875em;
    margin: 0 0 0 3px;
    float:left; 
}
.modal-header h3 span{
    font-family: 'ralewaylight';
}
.modal-header p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0 0 0 3px;
    color:#898989;
}
.modal-backdrop.in{
    background-color: #eee;
    opacity: 0.9;
}
.modal-content{
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    border: none;
    border-radius:2px;
    padding: 0;
}
modal-dialog{
    font-family: 'ralewaymedium';
}
.carrusel{
    padding: 0;
    margin-left: -1px;
}
.descripcion{
    height: 460px;
    display: table;

}
.lista-descripcion{
   display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.modal-body{
    padding: 0px;
}
.lista-descripcion{
    list-style: none;
    font-family: 'ralewaylight';  
}
.lista-descripcion span{
    color: #6c6c6c;
    font-family: 'ralewaymedium';
    font-family: 'open_sanssemibold';
    
}
.mini-header{
    padding:30px 40px; 
}
.mini-header2{
    padding:0 30px 0;
    margin-top: 50px;
}
.mini-header2 h2{
    margin-bottom: 10px;
}
.mini-header3{
    padding:30px 40px 10px; 
}
.user-detalle{
    display: table;
}
.cont-cas-ser{
    text-align: left;
    padding: 0 30px 30px 50px;
}
.casilla-serv{
    width: 180px;
    margin: 0px 10px 10px 10px;
    padding:0 10px;
    overflow: hidden;
    display: inline-block;
}
.casilla-serv img{
    opacity: .8;
    float: left;
    width: 30px;
}
.casilla-serv h2{
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.tabla{
    display: table;
    text-align: left;
}
.tabla1{
    display: table;
}
.vendedor{
    padding: 0 40px;
    font-family: 'ralewaylight';
    letter-spacing: 0.03em;
}

.usuario img{
    width: 65px;
}
.usuario{
    height: 130px;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 0 20px 0;
    margin: 20px 0 0 0;
}
.datos{
    height: 200px;
    line-height: 2em;
    padding: 20px 20px 0;
}
.datos:before{
    content: "Datos";
    font-family: 'open_sanssemibold';
}
.comentarios{
    height: 130px;
    padding: 0 20px 0;
    border-left: 1px solid #ddd;
    margin: 20px 0 0 0;
}
.comentarios:before{
    content: "Comentarios";
    font-family: 'open_sanssemibold';
    line-height: 2em;
}
.stars{
    width: 75px;
    height: 16px;
    background-image: url(../images/stars.png)
}
.rat{
    font-size: 12px;
}





/**************************************/
/********* MODAL AUTOMOTORA ***********/
/**************************************/

.local-foto img{
    width: 100%;
    max-width: 374px;
    padding: 0;
    margin: 0 0 0 -5px;
}
.mapa iframe{
    width: 100%;
    height: 530px;
    background-color: #CCC;
}
.local-contacto{
    border-left: 1px solid #ccc;
}
.local-info ul li img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    
}
.local-info{
    text-align: center;
    line-height: 2em;
    padding: 40px 15px;
    font-family: 'ralewaylight';
}
.local-info-det{
    text-align: left;
}
.local-info ul li span{
    font-size:12px;
    line-height: 3em;
    font-family: 'ralewayextralight';
}
#local-cargo{
    margin: -13px 0 0 0;
}
#local-user{
    font-family: 'ralewaybold';
}

/**************************************/
/************** BANNERS ***************/
/**************************************/

.banner{
    margin-top: 90px;
}

.banner .thumbnail{
    padding: 0;
    margin: 0 0 10px 0;
    border: none;
    
}
.banner .thumbnail img{
    border: 1px solid #d1d1d1;
}
.publicidad{
    text-align: center;
    vertical-align:t;
    background-color: #ccc;
    height: 90px;
    border-radius: 2px;
    margin-bottom: 30px;
}
#publi{
    line-height: 90px;
    font-size: 1.2em;
}
.col-publicidad{
    padding-top: 115px;
}
.col-publicidad .thumbnail{
    padding: 0;
}
.col-publicidad .thumbnail>img, .col-publicidad .thumbnail a>img, .bannerhor img{
    border: 1px solid #ddd;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    
}
.bannerhor{
    margin-bottom: 70px;
}
/**************************************/
/************ PUBLICA *****************/
/**************************************/

.exceeded { 
    color: #f9439d; 
}
/**************************************/
/************ PUBLICA *****************/
/**************************************/

#wrapper {
    width:578px;
    margin:75px auto;
}
/* TinyLimiter */
 #text {
    
    padding:10px;
    line-height:1.4;
    resize:vertical;
    font:16px;
}
.info {
    margin-bottom:10px;
    color:#fff;
}
.chars {
    margin-top:10px;
    color:#d1a727;
    display: inline-block;
}
.chars:after{
    content: " caracteres disponibles";
}
.maxLimit {
    color: #f9439d;
}
.minLimit {
    color: #888;
}
/**************************************/
/************ PAGINACIÓN **************/
/**************************************/

.pagination>li>a{
    color:#6C6C6C;
    padding: 6px 12px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #c8c8c8;
    
}
.pagination>li>a:hover{
    color:#444;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(170, 170, 170, 1);
}

/**************************************/
/************** FOOTER ****************/
/**************************************/

#footer-2{
    padding: 35px 0;
    background-color: #fff;
    font-family: 'ralewaymedium';
    font-size: 12px;
    color:#8c8c8c;
    border-top: 1px solid #ddd;
    margin-top: 60px;
}
#footer-2 a{
    color: #7d7c7c;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
    font-weight: 800;
}
#footer-2 a:hover, a:focus {
    color: #565a5c; 
    text-decoration: none;
}
#footer-2 .list-inline li {
    border-right: 1px solid #ecf0f1;
    padding-right: 10px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#footer-2 .list-inline {
    margin-bottom: 0;
    text-align: right;
}

/*****************************************/
/************** CARRUSEL *****************/
/*****************************************/
/**************************************/
/******* CARRUSEL EQUIPAMIENTO ********/
/**************************************/

#myCarousel1 .thumbnail img{
    opacity: .8;
    width: 30px;
    margin-bottom: 6px;
    /*float: left;
    margin:-20px 10px;*/
}
#myCarousel2 .thumbnail img {
    width: 50px;
    margin-right: 10px;
    float: left;
}
.bigger img{
    width: 60px;
}
#myCarousel3 .thumbnail img{
    opacity: 0.5;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
}
#myCarousel1 .carousel-control.right, #myCarousel1 .carousel-control.left, #myCarousel2 .carousel-control.right, #myCarousel2 .carousel-control.left, #myCarousel3 .carousel-control.right, #myCarousel3 .carousel-control.left{
    width: 50px;
    visibility: visible;
    padding:45px 0px;     
}
#myCarousel4 .carousel-control.right, #myCarousel5 .carousel-control.right{
    opacity: .3;
    width: 50px;
    visibility: visible;
    padding:110px 0px;
    margin: 0 -55px 0 0;
}
#myCarousel4 .carousel-control.left, #myCarousel5 .carousel-control.left{
    opacity: .3;
    width: 50px;
    visibility: visible;
    padding:110px 0px;
    margin: 0 0 0 -55px;
}
#myCarousel4 .carousel-control.right:hover,#myCarousel5 .carousel-control.right:hover, #myCarousel4 .carousel-control.left:hover, #myCarousel5 .carousel-control.left:hover {
    opacity: .7;
}
#myCarousel1 .carousel-inner{
    width: 840px;
    height: 130px;
    margin:0 0 0 30px;
}
.equi{
    overflow: hidden;
    height: 230px;
}
.grisosc{
    font-size: 13px;
     color:#888;
}
.grisosc{
    word-spacing:100px;
}

#myCarousel3 .thumbnail{
    text-align: left;
}
#myCarousel3 .carousel-inner{
    width: 840px;
    height: 230px;
    margin:0 0 0 30px;
}
#myCarousel3 .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -40px;
	margin-right: -19px;
}

#myCarousel4 .carousel-indicators, #myCarousel5 .carousel-indicators{
	right: 50%;
	top: auto;
	bottom: -50px;
	margin-right: -19px;
}
.serv{
    /*height: 300px;*/
}
.top{
    padding: 40px 20px 0;
    
}
.condi{
    padding: 10px 80px 60px 80px;
}
.condi h2{
    font-size: 2em;
    margin:40px 0 20px 0;
}

.visto{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    display: inline-table;
    right:0;
    top: 5px;
    color: #f5f5f5;
    padding: 10px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    
}
/********CARRUSEL MODAL*************/

.carousel1 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

/* The controlsy */
.carousel-control1 {
	/*left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;*/
    position: absolute;
    font-size: 40px;
    top: 30px;  
}
.carousel-control1.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -20px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #a2b603;
}
#wrapper {
    width: 90%;
    margin: 0;
    text-align: left;
    font-family: Georgia, serif;
    color: #222;
    background-color: gray;
}
.carousel-control{
   opacity: .8;
   /*transition:opacity .4s linear;*/    
}
.carousel-control:hover{
    opacity: 1;
}
.carousel-inner .btn{
    padding: 0;
}
a.carousel-control.left img{
    top:40px;
}
.carousel-control .thumbprecio{
    right: 0;
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-control.right, .carousel-control.left{
    background-image: none;
}



.equipa .thumbnail{
    text-align: center;
    color:#aaa;
    font-family: 'ralewaylight';
    font-size: 14px; 
}
.equipa .thumbnail span{
    text-align: center;
    font-size: 36px;
    color:#aaa;
    padding: 40px 0 0 0; 
}

/*.user-detalle{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
ul.user-detalle li{
    float: left;
}
ul.user-detalle li{
    width: 100px;
    overflow: hidden;
}
ul.user-detalle{
    width: 60em;
}
*/
.user-detalle span{
    height: auto;
}
ul.user-detalle .foto-user img{
    width: 80px;
    height: 80px;
    margin-left: 35px;
}
.user-detalle li img{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}
ul.user-detalle li{
    list-style: none;
    color:#656565;
    font-family: 'ralewaylight';
    padding: 5px;
}
.wrapp{
    padding: 0 50px 20px 30px;
}
.nombre-rating, .foto-user{
    margin: 15px 0;
    vertical-align: middle;
    display: table-cell;
}
.mini-header h2, .mini-header3 h2{
    font-size: 1.3em;
}

br{
    clear: left;
}
.modal-footer .btn-default{
    border-left: 1px solid #ccc;
    border-radius: 2px;
    font-family: 'ralewaymedium';
    font-size: 1em;
    padding: 5px 10px;
    margin: 10px;
}
ul{
    list-style:none outside none;
    padding-left:0;
}
.content-slider li{
    background-color:#ed3020;
    text-align:center;
    color:#FFF;
}
.content-slider h3 {
    margin:0;
    padding:70px 0;
}
.demo{
    width:800px;
}
.filtra h2{
    margin-top: 20px;
    }
.cuatro-stars{
    background-image: url(../images/cuatro-stars.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;
    
}
li .cuatro-stars{
    color: #ccc;
}

.uno-str:before{
    content: url(../images/uno-stars.png);
}
.dos-str:before{
    content: url(../images/dos-stars.png);
}
.tres-str:before{
    content: url(../images/tres-stars.png);
}
.cuatro-str:before{
    content: url(../images/cuatro-stars.png);
}
.cinco-str:before{
    content: url(../images/cinco-stars.png);
}
.rating span:before{
    content: url(../images/user.png);   
}
.rating p{
    float: left:
}
/*****************************************/
/********** GALLERY STYLES ***************/
/*****************************************/

.navigation-outer-wrap {
  width: 100%;
  height: 68px;
  padding: 0 60px;
  overflow: hidden;
  display: inline-block;
}
.thumbnail-navigation {
    width: 100%;
    height: 67px;
    background-color: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
border-left: 1px solid transparent;
}
.thumbnail-navigation ul.thumbnail-navigation-list {
  width: 5000px;
  transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.thumbnail-navigation ul.thumbnail-navigation-list li {
  display: inline-block;
  text-decoration: none;
  margin: 3px 0 0 0 ;
}
.thumbnail-navigation ul.thumbnail-navigation-list li.active a img {
    opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.thumbnail-navigation ul.thumbnail-navigation-list li.active {
    background: #B9C609;
}
.thumbnail-navigation .navigation {
    /*opacity: 0.5;
    filter: alpha(opacity=50);*/
    background-color: #FFFFFF;
    padding: 21px 23px;
    margin: 0;
    position: absolute;
    top:1px;
  
}
.thumbnail-navigation a.pull-right, .thumbnail-navigation a.pull-left{
    opacity: 1;
}
.thumbnail-navigation a.pull-right:hover, .thumbnail-navigation a.pull-left:hover{
    opacity: 1;
}
.pull-left img, .pull-right img{
    width: 10px;
}
.pull-right{
    right: -1px;
}
.thumbnail-navigation .navigation:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
}
.form-control::-moz-placeholder{color:#a3a3a3;opacity:1}.form-control:-ms-input-placeholder{color:#color: #a3a3a3;}.form-control::-webkit-input-placeholder{color:#a3a3a3}
/***********************************/

.grisosc{
    text-align: center;
}
.tab-content{
    width: 100%;
}
.tab-content img{
    width: 100%;
    
}
select option[selected] {
    color: #ccc;
}
select option: first-child{
    color: #ccc;
}
/**************************************/
/************* RESULTADOS *************/
/**************************************/
.titulo-res{
    padding: 25px 0 0 0;
}
.bg-bl{
    background-color: #fff;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    }
.resultados{
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    border:1px solid #ddd;
    /*max-height: 208px;*/  
}
.resultados:hover{
    border:1px solid #ccc;
    /*border:1px solid #ddd;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.3);*/
    
}
.destacado{
    background-color: #F3FFCF;
}
.thumbnail-res{
    padding: 0;
}

.medio-table{
    display: table;
}
.medio-table .medio{
    display:table-cell;
    vertical-align: middle;
}
.res-info{
    padding: 30px 30px 0;
}
.res-img{
    
}
.res-img img{
     width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.mini-header4{
    padding: 0 0 30px;
}
.resultados p span{
    color:#92A500;
    font-family: 'ralewaymedium';
}
.resultados p:nth-child(2):before{
    content: "Horario ";
    font-family: 'ralewaybold';
    color:#777;
}
.resultados p:nth-child(3):before{
    content: "Ciudad ";
    font-family: 'ralewaybold';
    color:#777;
}

.resultados p{
    font-family: 'ralewaylight';
    margin: 0;
    font-size: 13px;
}
.res-info h2{
    font-size: 22px;
    font-family: 'ralewaymedium';
    margin-bottom: 5px;
}
.servicios-list{
    margin-top: 15px;
}
.servicios-list li{
    display: inline-block;
    list-style-type: none;
    font-family: 'ralewaylight';
    padding: 7px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin:0 0 0 -3px;
}
.servicios-list li:first-child{
    border-top: 1px solid #ddd;
}
.servicios-list li:last-child{
    border-right: 1px solid transparent;
}
.cont-resultados a{
    color:#565a5c;
}
.pruebabg{
    max-width: 100%;
    min-height:210px;
    background-position: center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*****************************************/
/************ MODAL INGRESAR *************/
/*****************************************/
.imagen-ingresa{
     
}
.imagen-ingresa img {
  width: 290px;
  margin: 30px 0;
  padding: 0 10px 0 10px;
  border-right: 1px solid #ddd;
}

.modal-sm {
width: 760px;
}
.ingresa a{
    font-family: 'ralewaylight';
    color: #888;
    font-size: 12px;
}
.ingresa button{
    background-color:#92A500;
    color: #fff;
    padding:5px 60px;
    border: 1px solid #92A500;
    margin-top: 10px;
}
.ingresa{
    padding: 30px;
}
.ingresa .checkbox{
    font-size: 12px;
    color: #888;
    font-family: 'ralewaylight';
}
.ingresa .checkbox{
    margin: 0;
}
.t1 p{
    text-align: center;
    font-size: 14px;
    font-family: 'ralewaylight';
    margin: 0;
}
.t1 p span a{
   font-family: 'open_sanssemibold';
    color:#92A500;
}
.ingresa .medio-table{
    display: table;
}
.ingresa .medio-table .medio{
    display:table-cell;
    vertical-align: middle;
}
.ancho{
    width: 100%;
}

.input-group .form-control:not(:first-child):not(:last-child){
    border-radius: 0;
    border: 1px solid #ccc;
    border-left: transparent;
}
.tooltip.top{
    margin-top:-17px;
}
.upload-image{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #ccc;
    background-image: url(../images/useruser.png);
    background-repeat: no-repeat;
    margin: 0 auto 30px;
}
.upload-image .btn-default{
    font-size: 25px;
    padding: 0 12px;
    border-radius: 10px;
}
.add-foto{
    background-color: #ccc;
    border-radius: 5px;
    width: 140px;
    height: 95px;
    background-image: url(../images/sinfoto5.png);
    background-repeat: no-repeat;
    float: right;
    overflow: hidden;
    text-align: center;
}
.texto-der{
    text-align: right;
}
.bandera{

   
}
.bandera-txt{
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    margin-top: 3px;    
}
/*///////////////////////////////////////////*/
/*********************************************/
/************** MEDIA QUERYS *****************/
/*********************************************/
/*///////////////////////////////////////////*/

/*****************************************/
/************* HASTA 1200 ****************/
/*****************************************/

@media (max-width: 1200px) {
    
 .thumbnail .caption{
    font-size: 0.875em;
    }
 .thumbprecio{
    font-size: 0.875em;
    padding: 1px 6px;
    }
    .publicidad{
        height: 210px;
    }
    #publi{
        line-height: 210px;   
    }
    .blanco .btn{
        font-size: 0.9em; 
    }
    .carousel .carousel-control { 
        visibility:visible; 
    }
    .thumbnail .caption h4{
        font-size: 1.4em;
    }
    .thumbano, .thumbvista,.thumbprecio{
        font-size: 1.1em;
    }
    h2{
       font-size: 1.4em; 
    }
     .twit .arrow{
        left: 180px;
    }
    
    .twat .arrow{
        left: 180px;
    }
    
}
/*****************************************/
/************ DESKTOP  992 ***************/
/*****************************************/
    
@media (max-width: 992px) {
    
    .local-info{
        border-bottom: 1px solid #ddd;
    }
    .local-contacto{
        border-left: none;
    }
    .mini-header2{
        padding-bottom: 30px;
    }
    #myCarousel4 .carousel-control.right, #myCarousel5 .carousel-control.right, #myCarousel4 .carousel-control.left, #myCarousel5 .carousel-control.left{
        padding: 0;
    }
    .carousel-control img{
        margin-top: 500px;
    }
    .similares .thumbnail{
        padding: 0 60px 30px;
    }
    .datos:before{
        display: block;
        border: none;
    }
    .comentarios:before{
        display: block;
    }
    
    .cont-cas-ser{
        padding: 0 30px 30px 130px;
    }
    .datos, .comentarios{
        text-align: center;
    }
    
    .lineader select:hover{
    border:1px solid rgba(170,170,170,1);
    }
     .buscarNav .form-control{
    width: 200px;
     }
    .navbar-brand{
        padding-left:20px; 
    }
    .publicidad{
        height: 320px;
    }
    #publi{
        line-height: 320px;
    }
    .ui-slider {
        display: none;
    }
    select{
        border: 1px solid #ccc;
        border-radius: 2px;
        padding:4px 14px 4px 8px;
        background-image: url(../images/selectarrow2.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 10px;
    }
    .treinta{
        padding: 0 10px 10px;
    }
    label{
        padding-top:4px;
        margin-right: 6px;
    }
    .veinte{
        padding: 0;
    }
    .o{
        margin: 0 0 0 0;
    }
    .automatico{
        padding: 0 0 0 10px;
        margin: 0 0 0 5px ;
    }
    .radio label{
        padding-left: 10px;
        
    }
    fieldset{
        margin:0;
        padding: 0;
        height: 5em;
    }
    .separador{
        border-bottom:1px solid #ddd;
        padding: 5px 0;
    }
    .textder{
      float: left;  
    }
    
    
}
/*****************************************/
/********** TABLETS 768 - SM *************/
/*****************************************/

@media (max-width: 768px) {
    .modal-sm{
        width: auto;
        
    }
    .mini-header4 h2{
        margin-top: 40px;
    }
    .res-info h2{
        margin-left: 0;
    }
    .resultados{
        margin: 0 30px 30px;
    }
    .mini-header2{
        padding-bottom: 60px;
    }
    
    .cont-cas-ser{
        text-align: center;
        padding: 0 30px 30px 30px;
    }
    
    .footer{
        text-align: center;
    }
    #footer-2 .list-inline{
        text-align: center;
    }
    .t1 .thumbnail{
        max-width: 500px;
    }
    .pagination>li>a{
    padding: 12px 25px;
}
    .thumbnail .caption h4{
        font-size: 1.6em;
    }
    .thumbprecio{
    font-size: 1.2em;
    padding: 1px 6px;
    }
    .thumbprecio{
        padding:2px 10px;
        
    }
    .thumbano{
        font-size: 1.2em;
    }
    .thumbvista{
        font-size: 1.2em;
    }
    label{
        font-size: 1.2em;
    }
    select.input-sm{
        height: 40px;
        font-size: 1.2em;
        font-family: 'ralewaylight';
        box-shadow: inset 0px 0px 0px -100px #FFFFFF;
        -webkit-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
        -moz-box-shadow: inset 0px 0px 0px -100px #FFFFFF;
        -o-box-shadow: inset 0px 0px 0px -100px #FFFFFF;  
    }
    .input-sm{
        padding: 5px 0 5px 7px;
    }
    .controls input[type=text]{
    padding: 20px 10px;
    font-size: 1.2em;
    font-family: 'ralewayextralight';
    }
    .lineader{
        border-right: transparent;
    }
    .buscarNav .form-control{
    width: 87%;
     }
    .t1{
    text-align: center;
    }
    .t1 .thumbnail{
        display:inline-block;
    }
    h2{
        margin-left: 20px;
    }
    .navbar-default .navbar-collapse{
        padding: 20px;
    }
    .navbar-brand img{
        display: block;
        margin: auto;
        vertical-align: middle;
    }
    
    .navbar-form{
        border-top: none;
        margin-top: 0;
        padding: 0 3px 20px;
    }
    .publicidad{
        height: 150px;
        margin-bottom: 30px;
    }
    #publi{
        line-height: 150px;
        
    }
	.navbar-top .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
		background-color: #3174b0;
	}
    .gris{
        padding: 0;
        
    }
    .blanco .btn{
        font-size: 1em;
        padding: 10px 0 ;
    }
    select{
        padding:9px 14px 9px 14px;
        width: 100px;
    }
    fieldset{
        margin: 0 0 30px 0;
        height: 7em;
    }
    .automatico{
        padding: 0 0 0 2%;
        margin: 0 0 0 20px;
    }
    .radio input[type="checkbox"]{
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
    .radio input[type="checkbox"]:checked{
        background-image: none;
        background-color: #a2b603;
    }
    .radio label{
        font-size: 1.7em;
        padding-left: 30px;
    }
    .lineader{
        border-left: transparent;
    }
     .twit .arrow{
        left: 200px;
    }
    
    .twat .arrow{
        left: 200px;
    }
    .filtra{
        padding: 0;
        
    }
    .filtra h2{
    margin: 20px 0 10px 17px;
    }
    .o{
        margin: 0 0 0 0;
    }
    .o p{
        margin: 7px 0 0 0;
    }
    .sin-margen{
        margin: 0;
    }
    .ingresar{
       padding: 30px; 
    }
    .ingresar h2{
        margin: 0;
    }
    
    .boton-movil{
        background-color: #fff;
        margin: 0;
        border-radius: 0px;
        padding: 10px 30px;
        color: #555;
        text-align: left;
        font-size: 15px;
        border: 1px solid #bbb;
        border-bottom: transparent;
        cursor:pointer;
        
        
}
.boton-movil:active{
    background-color: #eee;
}
    
    .botonera-up{
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .botonera-down{
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom: 1px solid #bbb;
        margin-bottom: 10px;
    }
    .fono-ico:after{
        content: url("../images/ico-phone-jr.png");
        float: right;
        padding: 4px 0 0 0;
        opacity: .7;
        
    }
    .mail-ico:after{
        content: url("../images/ico-mail-jr.png");
        float: right;
        padding: 4px 0 0 0;
        opacity: .7;
        
        
    }
    
}
    

/*****************************************/
/************* PHONES 470 ****************/
/*****************************************/

@media (max-width: 470px) {
    
    .similares .thumbnail{
        padding: 0 10px 30px;
    }
    .publicidad{
        display: none;
    }
   
    .pagination>li>a{
    padding: 12px 16px;
}
    .bnr-horizontal{
    background-color: red;
        width: 100%;
        height: 30px;
        display: inline;
}
    .navbar-fixed-top, .navbar-fixed-bottom{
        position: relative;
    }
   .automatico{
       font-size: 10px;
   }
    .cien{
        height: 100px;
    }
    .navbar{
        margin-bottom: 0;
    }
    .publicidad{
        width: 320px;
        height: 150px;
        margin-bottom: 30px;
    }
    #publi{
        line-height: 150px;
        
    }
    .lineader{
        border-left:transparent; 
    }
    
    
    
    
}
    

    

